.navbar{
    padding: 40px 0;
    background: transparent;
    transition: all .3s ease;
    @include desktop{
        background: $white;
    }
    @include desktop{
        padding: 40px 20px;
    }
    .main-navigation{
        margin: 0 auto;
        .nav-item{
            .nav-link{
                color: $secondary-color;
                font-family: $secondary-font;
                padding: 0 15px;
                transition: all .3s ease;
                font-weight: 500;
                &:hover{
                    color: $primary_color;
                }
                @include desktop{
                    text-align: center;
                    padding: 15px 0;
                    cursor: pointer;
                }
            }
            .active{
                color: $primary_color;
            }
        }
    }
    
    .hire_button{
        background: $primary_color;
        padding: 10px 30px;
        color: #fff;
        text-decoration: none;
        border-radius: 7px;
        font-size: 16px;
        font-family: $secondary-font;
        font-weight: 400;
        border: 1px solid transparent;
        transition: all .3s ease;
        &:hover{
            background: $white;
            border: 1px solid $primary_color;
            color: $primary_color;
        }
        @include desktop{
            text-align: center;
        }
    }
    
    &.nav__color__change{
        background: $white;
        padding: 20px 0;
        box-shadow: 0px 10px 20px 0px rgba(50,65,141,0.1);
        @include desktop{
            padding: 20px 20px;
        }
    }
    @include desktop{
        .navbar-toggler {
            border: 1px solid #000000;
            padding: 10px;
            cursor: pointer;
            .navbar-toggler-icon{
                display: block;
                height: 1px;
                background: #000;
                &:not(:last-child){
                    margin-bottom: 5px;
                }
            }
            &:focus{
                outline: none;
            }
        }
    }
}