<section class="section blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/allpost/allPost-1.jpg" alt="blog-1">
                    </div>
                    <div class="blog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/allpost/allPost-2.jpg" alt="blog-2">
                    </div>
                    <div class="blog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/allpost/allPost-3.jpg" alt="blog-3">
                    </div>
                    <div class="blog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/allpost/allPost-4.jpg" alt="blog-4">
                    </div>
                    <div class="blog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/allpost/allPost-5.jpg" alt="blog-5">
                    </div>
                    <div class="blog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/allpost/allPost-6.jpg" alt="blog-6">
                    </div>
                    <div class="blog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/allpost/allPost-7.jpg" alt="blog-7">
                    </div>
                    <div class="blog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/allpost/allPost-8.jpg" alt="blog-8">
                    </div>
                    <div class="blog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/allpost/allPost-9.jpg" alt="blog-9">
                    </div>
                    <div class="blog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="blog__pagination">
                <ul class="pagination">
                    <li class="active"><a href="#" data-original-title="" title="">1</a></li> 
                    <li><a href="#" data-original-title="" title="">2</a></li> 
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20.657" height="11.314" viewBox="0 0 20.657 11.314">
                                <g fill="#fff" data-name="Group 12">
                                <path d="M0 4.657h18v2H0z" data-name="Rectangle 2400"/>
                                <path d="M13.586 9.9l5.6568542-5.6568542 1.4142136 1.4142135-5.6568542 5.6568543z" data-name="Rectangle 2401"/>
                                <path d="M15 0l5.6568542 5.6568542-1.4142135 1.4142136-5.6568543-5.6568542z" data-name="Rectangle 2402"/>
                                </g>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>