<section class="section blog" id="blog">
    <div class="blog__shape">
        <img src="images/blog/blog-shape.svg" alt="blog shape">
    </div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-6">
                <div class="blog__header">
                    <span>Blog</span>
                    <h1>Recent Article</h1>
                    <p>Enjoy team diversity and increase their networks among others people in various fields by
                        provided.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog__header_button desktop">
                    <a href="blog.html">See all post</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/blog/blog-1.jpg" alt="blog-1">
                    </div>
                    <div class="blog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/blog/blog-2.jpg" alt="blog-2">
                    </div>
                    <div class="blog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/blog/blog-3.jpg" alt="blog-3">
                    </div>
                    <div class="blog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__header_button mobile">
                    <a href="blog.html">See all post</a>
                </div>
            </div>
        </div>
    </div>
</section>