<section class="section case-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="case-details-title">
                    <h1>Basketball Game Approach to Creating Modern Designs.</h1>
                </div>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet lorem
                    ipsum dolor.</p>
                <div class="case-details-info">
                    <div class="case-details-info-item">
                        <h5>Clients</h5>
                        <p>Edward Furlong</p>
                    </div>
                    <div class="case-details-info-item">
                        <h5>Service</h5>
                        <p>Development, UX Design</p>
                    </div>
                    <div class="case-details-info-item">
                        <h5>Date</h5>
                        <p>May 10, 2020</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="case-details-service">
                            <h3>Challenge</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua vero eos et accusam et
                                justo duo dolores et ea rebum. Stet clita kasd gubergren.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="case-details-service">
                            <h3>Solution</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua vero eos et accusam et
                                justo duo dolores et ea rebum. Stet clita kasd gubergren.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="case-details-thumb">
                    <img src="images/portfolio/case-details.png" alt="case-details">
                </div>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
                <p>Ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                    et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="case-details-nav">
                    <div class="previous">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15.556" height="28.285" viewBox="0 0 15.556 28.285">
                                <g data-name="Group 1243" fill="#2d2d2d">
                                  <path data-name="Path 1456" d="M3.391 12.728l9.75 14.142-.982 1.414-9.742-14.142z"/>
                                  <path data-name="Path 1455" d="M13.137 1.41L3.39 15.558l-.975-1.415L12.166 0z"/>
                                </g>
                            </svg>
                        </div>
                        <div class="content">
                            <span>Prev case</span>
                            <h5 class="title"><a href="">Basketball Game</a></h5>
                        </div>
                    </div>
                    <div class="social">
                        <ul>
                            <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href=""><i class="fa fa-pinterest-square"></i></a></li>
                            <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
                        </ul>
                    </div>
                    <div class="next">
                        <div class="content">
                            <span>Next case</span>
                            <h5 class="title"><a href="">Basketball Game</a></h5>
                        </div>
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15.556" height="28.285" viewBox="0 0 15.556 28.285">
                                <g data-name="Group 1244" fill="#2d2d2d">
                                    <path data-name="Path 1456" d="M12.162 12.725L2.416 26.87l.978 1.41 9.746-14.138z"/>
                                    <path data-name="Path 1455" d="M2.416 1.415l9.743 14.141.975-1.414L3.39 0z"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>