<section class="section classicBlog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <article class="classicBlog__item">
                    <div class="classicBlog__item-thumb">
                        <img src="images/classic-blog/classic-blog-1.jpg" alt="blog-1">
                    </div>
                    <div class="classicBlog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </article>
                <article class="classicBlog__item">
                    <div class="classicBlog__item-thumb">
                        <img src="images/classic-blog/classic-blog-2.jpg" alt="blog-2">
                    </div>
                    <div class="classicBlog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </article>
                <article class="classicBlog__item">
                    <div class="classicBlog__item-thumb">
                        <img src="images/classic-blog/classic-blog-3.jpg" alt="blog-3">
                    </div>
                    <div class="classicBlog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </article>
                <article class="classicBlog__item">
                    <div class="classicBlog__item-thumb">
                        <img src="images/classic-blog/classic-blog-4.jpg" alt="blog-4">
                    </div>
                    <div class="classicBlog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </article>
                <article class="classicBlog__item">
                    <div class="classicBlog__item-thumb">
                        <img src="images/classic-blog/classic-blog-5.jpg" alt="blog-5">
                    </div>
                    <div class="classicBlog__item-content">
                        <span>Jan 20, 2020</span>
                        <a href="single-blog.html">World’s most famous app developers and designers.</a>
                    </div>
                </article>
                <div class="classicBlog__pagination">
                    <ul class="pagination">
                        <li class="active"><a href="#" data-original-title="" title="">1</a></li>
                        <li><a href="#" data-original-title="" title="">2</a></li>
                        <li>
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20.657" height="11.314"
                                    viewBox="0 0 20.657 11.314">
                                    <g fill="#fff" data-name="Group 12">
                                        <path d="M0 4.657h18v2H0z" data-name="Rectangle 2400" />
                                        <path
                                            d="M13.586 9.9l5.6568542-5.6568542 1.4142136 1.4142135-5.6568542 5.6568543z"
                                            data-name="Rectangle 2401" />
                                        <path d="M15 0l5.6568542 5.6568542-1.4142135 1.4142136-5.6568543-5.6568542z"
                                            data-name="Rectangle 2402" />
                                    </g>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="classicBlog__sidebar">
                    <form class="form-search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="search-icon">
                                <svg data-name="Group 1245" xmlns="http://www.w3.org/2000/svg" width="20.438"
                                    height="20.438" viewBox="0 0 20.438 20.438">
                                    <path data-name="Path 1457"
                                        d="M9 18a9 9 0 119-9 9.011 9.011 0 01-9 9zM9 1.662A7.339 7.339 0 1016.339 9 7.347 7.347 0 009 1.662z" />
                                    <path data-name="Path 1458"
                                        d="M19.607 20.438a.828.828 0 01-.587-.243l-4.763-4.763a.831.831 0 011.175-1.175l4.763 4.763a.831.831 0 01-.587 1.418z" />
                                </svg>
                            </span>
                        </div>
                    </form>
                </aside>
                <aside class="classicBlog__sidebar">
                    <div class="categories">
                        <h4 class="sidebar-title">Categories</h4>
                        <ul class="list-item">
                            <li><a href="">Digital <span>(6)</span></a></li>
                            <li><a href="">Creativity<span>(3)</span></a></li>
                            <li><a href="">Inspiration<span>(12)</span></a></li>
                            <li><a href="">Design<span>(10)</span></a></li>
                            <li><a href="">Personal<span>(8)</span></a></li>
                        </ul>
                    </div>
                </aside>
                <aside class="classicBlog__sidebar">
                    <div class="latest-post">
                        <h4 class="sidebar-title">Latest Post</h4>
                        <article class="latest-post-item">
                            <div class="thumb">
                                <img src="images/latest-post/latest-post-1.png" alt="latest-post-1">
                            </div>
                            <div class="content">
                                <span class="date">Jan 20, 2020</span>
                                <h5 class="title"><a href="single-blog.html">World’s most famous 
                                    app developers.</a></h5>
                            </div>
                        </article>
                        <article class="latest-post-item">
                            <div class="thumb">
                                <img src="images/latest-post/latest-post-2.png" alt="latest-post-2">
                            </div>
                            <div class="content">
                                <span class="date">Jan 20, 2020</span>
                                <h5 class="title"><a href="single-blog.html">World’s most famous 
                                    app developers.</a></h5>
                            </div>
                        </article>
                        <article class="latest-post-item">
                            <div class="thumb">
                                <img src="images/latest-post/latest-post-3.png" alt="latest-post-3">
                            </div>
                            <div class="content">
                                <span class="date">Jan 20, 2020</span>
                                <h5 class="title"><a href="single-blog.html">World’s most famous 
                                    app developers.</a></h5>
                            </div>
                        </article>
                    </div>
                </aside>
                <aside class="classicBlog__sidebar">
                    <div class="archive">
                        <h4 class="sidebar-title">Archives</h4>
                        <ul class="list-item">
                            <li><a href="">January 14, 2020 <span>(3)</span></a></li>
                            <li><a href="">February 17, 2019<span>(6)</span></a></li>
                            <li><a href="">March 25, 2018<span>(8)</span></a></li>
                            <li><a href="">April 14, 2017<span>(12)</span></a></li>
                            <li><a href="">May 10, 2016<span>(7)</span></a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>