<section class="contact" id="contact">
    <div class="contact__background_shape">
        <svg viewBox="0 0 1920 79">
            <path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
        </svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__cta">
                    <div class="contact__cta_content">
                        <span>Contact me</span>
                        <h1>Let’s Start a Project</h1>
                    </div>
                    <div class="contact__cta_action">
                        <a href="contact.html">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row contact__widget">
            <div class="col-lg-4">
                <div class="contact__widget_logo">
                    <img src="images/contact/widget-logo.png" alt="widget-logo">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact__widget_sitemap">
                    <h3>Sitemap</h3>
                    <ul>
                        <li><a href="#">About me</a></li>
                        <li><a href="#">Frequently Ask Question</a></li>
                        <li><a href="#">Privacy & Policy</a></li>
                        <li><a href="#">Latest Article</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact__widget_address">
                    <h3>Address</h3>
                    <ul>
                        <li><a href="tel:448 833 5272 332"><i class="fa fa-phone"></i>+(448) 833 5272 332</a></li> 
                        <li><a href="mailto:hello@example.com"><i class="fa fa-envelope"></i>hello@example.com</a></li>
                        <li><p><i class="fa fa-map-marker"></i>23 Khan Niketon, Grand Street, NYK.</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row contact__footer">
            <div class="col-lg-6">
                <div class="contact__footer_copy">
                    <p>All right reserved copyright &copy; Portio 2019</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact__footer_social">
                    <ul>
                        <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
                        <li><a href=""><i class="fa fa-pinterest-square"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>