<section class="section portfolio" id="portfolio">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 offset-lg-3">
                <div class="portfolio__header">
                    <span>My Portfolio</span>
                    <h1>Check Some of Our Recent Work.</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="portfolio__element">
                    <div class="portfolio__element_left">
                        <div class="portfolio__element_left-item">
                            <div class="portfolio__element_left-item-thumb">
                                <img src="images/portfolio/portfolio-1.png" alt="portfolio-1">
                            </div>
                            <div class="portfolio__element_left-item-content">
                                <span>Working area</span>
                                <h3><a href="case-details.html">Basketball Game Approach to Creating Modern Designs.</a></h3>
                                <a class="see-more-btn" href="case-details.html">See details</a>
                            </div>
                        </div>
                        <div class="portfolio__element_left-item">
                            <div class="portfolio__element_left-item-thumb">
                                <img src="images/portfolio/portfolio-3.png" alt="portfolio-3">
                            </div>
                            <div class="portfolio__element_left-item-content">
                                <span>Working area</span>
                                <h3><a href="case-details.html">Basketball Game Approach to Creating Modern Designs.</a></h3>
                                <a class="see-more-btn" href="case-details.html">See details</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio__element_right">
                        <div class="portfolio__element_right-item">
                            <div class="portfolio__element_right-item-thumb">
                                <img src="images/portfolio/portfolio-2.png" alt="portfolio-2">
                            </div>
                            <div class="portfolio__element_right-item-content">
                                <span>Working area</span>
                                <h3><a href="case-details.html">Basketball Game Approach to Creating Modern Designs.</a></h3>
                                <a class="see-more-btn" href="case-details.html">See details</a>
                            </div>
                        </div>
                        <div class="portfolio__element_right-item">
                            <div class="portfolio__element_right-item-thumb">
                                <img src="images/portfolio/portfolio-4.png" alt="portfolio-4">
                            </div>
                            <div class="portfolio__element_right-item-content">
                                <span>Working area</span>
                                <h3><a href="case-details.html">Basketball Game Approach to Creating Modern Designs.</a></h3>
                                <a class="see-more-btn" href="case-details.html">See details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>