<section class="section case-details">
    <div class="svg-img">
		<img src="images/hero/figure-svg.svg" alt="">
	</div>
	<div class="animate-shape">
		<!-- <img src="images/skill/skill-background-shape.svg" alt="background-shape"> -->
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
			<defs>
				<linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
					<stop offset="0" stop-color="#f1f6f9" />
					<stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
				</linearGradient>
			</defs>
			<g data-name="blob-shape (3)">
				<path class="blob" fill="url(#d)"
					d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
			</g>
		</svg>
	</div>
	<div class="animate-pattern">
		<img src="images/service/background-pattern.svg" alt="background-shape">
	</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="case-details-title">
                    <h1>Privacy & Policy</h1>
                </div>
                <p>
                  It is StaticMania's policy to respect your privacy regarding any
                  information we may collect while operating our website. This
                  Privacy Policy applies to staticmania.com (hereinafter, “us”, “we”,
                  or “staticmania.com”). We respect your privacy and are committed to
                  protecting personally identifiable information you may provide us
                  through the Website. We have adopted this privacy policy (“Privacy
                  Policy”) to explain what information may be collected on our
                  Website, how we use this information, and under what circumstances
                  we may disclose the information to third parties. This Privacy
                  Policy applies only to information we collect through the Website
                  and does not apply to our collection of information from other
                  sources.
                </p>
                <p>
                  This Privacy Policy, together with the Terms and conditions posted
                  on our Website, set forth the general rules and policies governing
                  your use of our Website. Depending on your activities when
                  visiting our Website, you may be required to agree to additional
                  terms and conditions.
                </p>

                <h4>Website Visitors</h4>
                <p>
                  Like most website operators, staticmania collects
                  non-personally-identifying information of the sort that web
                  browsers and servers typically make available, such as the browser
                  type, language preference, referring site, and the date and time
                  of each visitor request. StaticMania's purpose in collecting
                  non-personally identifying information is to better understand how
                  StaticMania's visitors use its website. From time to time, staticmania
                  may release non-personally-identifying information in the
                  aggregate, e.g., by publishing a report on trends in the usage of
                  its website.
                </p>
                <p>
                  staticmania also collects potentially personally-identifying
                  information like Internet Protocol (IP) addresses for logged in
                  users and for users leaving comments on https://staticmania.com blog
                  posts. staticmania only discloses logged in user and commenter IP
                  addresses under the same circumstances that it uses and discloses
                  personally-identifying information as described below.
                </p>
                <h4>Gathering of Personally-Identifying Information</h4>
                <p>
                  Certain visitors to StaticMania's websites choose to interact with
                  staticmania in ways that require staticmania to gather
                  personally-identifying information. The amount and type of
                  information that staticmania gathers depends on the nature of the
                  interaction. For example, we ask visitors who sign up for a blog
                  at https://staticmania.com to provide a username and email address.
                </p>
                <h4>Gathering of Personally-Identifying Information</h4>
                <p>
                  Certain visitors to StaticMania's websites choose to interact with
                  staticmania in ways that require staticmania to gather
                  personally-identifying information. The amount and type of
                  information that staticmania gathers depends on the nature of the
                  interaction. For example, we ask visitors who sign up for a blog
                  at https://staticmania.com to provide a username and email address.
                </p>
                <h4>Security</h4>
                <p>
                  The security of your Personal Information is important to us, but
                  remember that no method of transmission over the Internet, or
                  method of electronic storage is 100% secure. While we strive to
                  use commercially acceptable means to protect your Personal
                  Information, we cannot guarantee its absolute security.
                </p>
                <h4>Advertisements</h4>
                <p>
                  Ads appearing on our website may be delivered to users by
                  advertising partners, who may set cookies. These cookies allow the
                  ad server to recognize your computer each time they send you an
                  online advertisement to compile information about you or others
                  who use your computer. This information allows ad networks to,
                  among other things, deliver targeted advertisements that they
                  believe will be of most interest to you. This Privacy Policy
                  covers the use of cookies by staticmania and does not cover the use
                  of cookies by any advertisers.
                </p>
                <h4>Links To External Sites</h4>
                <p>
                  Our Service may contain links to external sites that are not
                  operated by us. If you click on a third party link, you will be
                  directed to that third party’s site. We strongly advise you to
                  review the Privacy Policy and terms and conditions of every site
                  you visit.
                </p>
                <p>
                  We have no control over, and assume no responsibility for the
                  content, privacy policies or practices of any third party sites,
                  products or services.
                </p>
                <h4>Aggregated Statistics</h4>
                <p>
                  staticmania may collect statistics about the behavior of visitors to
                  its website. staticmania may display this information publicly or
                  provide it to others. However, staticmania does not disclose your
                  personally-identifying information.
                </p>
                <h4>Cookies</h4>
                <p>
                  To enrich and perfect your online experience, staticmania uses
                  “Cookies”, similar technologies and services provided by others to
                  display personalized content, appropriate advertising and store
                  your preferences on your computer.
                </p>
                <p>
                  A cookie is a string of information that a website stores on a
                  visitor’s computer, and that the visitor’s browser provides to the
                  website each time the visitor returns. staticmania uses cookies to
                  help staticmania identify and track visitors, their usage of
                  https://staticmania.com, and their website access preferences.
                  staticmania visitors who do not wish to have cookies placed on their
                  computers should set their browsers to refuse cookies before using
                  StaticMania's websites, with the drawback that certain features of
                  StaticMania's websites may not function properly without the aid of
                  cookies.
                </p>
                <p>
                  By continuing to navigate our website without changing your cookie
                  settings, you hereby acknowledge and agree to StaticMania's use of
                  cookies.
                </p>
                <h4>E-commerce</h4>
                <p>
                  Those who engage in transactions with staticmania – by purchasing
                  StaticMania's services or products, are asked to provide additional
                  information, including as necessary the personal and financial
                  information required to process those transactions. In each case,
                  staticmania collects such information only insofar as is necessary
                  or appropriate to fulfill the purpose of the visitor’s interaction
                  with staticmania. staticmania does not disclose personally-identifying
                  information other than as described below. And visitors can always
                  refuse to supply personally-identifying information, with the
                  caveat that it may prevent them from engaging in certain
                  website-related activities.
                </p>
                <p>
                  Although most changes are likely to be minor, staticmania may change
                  its Privacy Policy from time to time, and in StaticMania's sole
                  discretion. staticmania encourages visitors to frequently check this
                  page for any changes to its Privacy Policy. Your continued use of
                  this site after any change in this Privacy Policy will constitute
                  your acceptance of such change.
                </p>
            </div>
        </div>

    </div>
</section>