<section class="section resume" id="resume">
    <div class="resume__background"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="resume__heading">
                    <span>My Resume</span>
                    <h1>My Expertises</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore
                    </p><br><br>
                    <p>Magna aliquyam erat, sed diam voluptua. At vero eos accusam justo.</p>
                    <ul class="nav nav-tabs">
                        <li><a href="#education" class="active" data-toggle="tab">Education</a></li>
                        <li><a href="#experience" data-toggle="tab">Experiences</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tab-content ">
                    <div class="resume__education tab-pane active" id="education">
                        <div class="resume__education_item">
                            <span>2008-2010</span>
                            <h4>Master in Arts</h4>
                            <p>Lorem ipsum dolor sit amet conset sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut
                                labore et dolore magna aliquyam erat, sed diam</p>
                        </div>
                        <div class="resume__education_item">
                            <span>2008-2010</span>
                            <h4>Master in Arts</h4>
                            <p>Lorem ipsum dolor sit amet conset sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut
                                labore et dolore magna aliquyam erat, sed diam</p>
                        </div>
                        <div class="resume__education_item">
                            <span>2008-2010</span>
                            <h4>Master in Arts</h4>
                            <p>Lorem ipsum dolor sit amet conset sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut
                                labore et dolore magna aliquyam erat, sed diam</p>
                        </div>
                        <div class="resume__education_item">
                            <span>2008-2010</span>
                            <h4>Master in Arts</h4>
                            <p>Lorem ipsum dolor sit amet conset sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut
                                labore et dolore magna aliquyam erat, sed diam</p>
                        </div>
                        <div class="resume__education_item">
                            <span>2008-2010</span>
                            <h4>Master in Arts</h4>
                            <p>Lorem ipsum dolor sit amet conset sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut
                                labore et dolore magna aliquyam erat, sed diam</p>
                        </div>
                    </div>
                    <div class="resume__education tab-pane" id="experience">
                        <div class="resume__education_item">
                            <span>2016-present</span>
                            <h4>Experience</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                        </div>
                        <div class="resume__education_item">
                            <span>2016-present</span>
                            <h4>Experience</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                        </div>
                        <div class="resume__education_item">
                            <span>2016-present</span>
                            <h4>Experience</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                        </div>
                        <div class="resume__education_item">
                            <span>2016-present</span>
                            <h4>Experience</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                        </div>
                        <div class="resume__education_item">
                            <span>2016-present</span>
                            <h4>Experience</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>