<section class="section service" id="service">
    <div class="service__background">
        <svg viewBox="0 0 1283 1126">
            <path fill="#f1f6f9" d="M100 0h1183v1126l-1183-80A100 100 0 010 946V100A100 100 0 01100 0z" data-name="Path 1369"/>
        </svg>
    </div>
    <div class="service__background_shape">
        <img src="images/service/background-shape.svg" alt="background-shape">
    </div>

    <div class="service__background_pattern">
        <img src="images/service/background-pattern.svg" alt="background-pattern">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="service__header">
                    <span>Working Area</span>
                    <h1>Creative Services</h1>
                    <p>Enjoy team diversity and increase their networks among others people in various fields by
                        provided.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="service__slider">
                    <div class="service__slider_item">
                        <img src="images/service/service-1.svg" alt="service-1">
                        <h4>UI/UX Design</h4>
                        <p>Lorem ipsum dolor sit amet conset sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat.</p>
                    </div>
                    <div class="service__slider_item">
                        <img src="images/service/service-2.svg" alt="service-1">
                        <h4>Web Development</h4>
                        <p>Lorem ipsum dolor sit amet conset sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat.</p>
                    </div>
                    <div class="service__slider_item">
                        <img src="images/service/service-3.svg" alt="service-1">
                        <h4>Creative Design</h4>
                        <p>Lorem ipsum dolor sit amet conset sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat.</p>
                    </div>
                    <div class="service__slider_item">
                        <img src="images/service/service-4.svg" alt="service-1">
                        <h4>Branding</h4>
                        <p>Lorem ipsum dolor sit amet conset sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat.</p>
                    </div>
                    <div class="service__slider_item">
                        <img src="images/service/service-1.svg" alt="service-1">
                        <h4>UI/UX Design</h4>
                        <p>Lorem ipsum dolor sit amet conset sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat.</p>
                    </div>
                    <div class="service__slider_item">
                        <img src="images/service/service-2.svg" alt="service-1">
                        <h4>Web Development</h4>
                        <p>Lorem ipsum dolor sit amet conset sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>