<header class="breadCrumb">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 text-center">
          <h3 class="breadCrumb__title">@@title</h3>
          <nav aria-label="breadcrumb" class="d-flex justify-content-center">
            <ol class="breadcrumb align-items-center">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="allPost.html">All Post</a></li>
              <li class="breadcrumb-item active" aria-current="page">@@breadcrumb</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</header>