<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a href="index.html" class="navbar-brand">
            <img src="images/site-navigation/logo.png" alt="site-logo">
        </a>
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <ul class="nav navbar-nav main-navigation">
                <li class="nav-item active">
                  <a href="index.html#home" class="nav-link scroll">Home</a>
                </li>
                <li class="nav-item">
                  <a href="index.html#about" class="nav-link scroll">About</a>
                </li>
                <li class="nav-item">
                    <a href="index.html#service" class="nav-link scroll">Service</a>
                </li>
                <li class="nav-item">
                    <a href="index.html#portfolio" class="nav-link scroll">Work</a>
                </li>
                <li class="nav-item">
                    <a href="index.html#resume" class="nav-link scroll">Resume</a>
                </li>
                <li class="nav-item">
                    <a href="index.html#blog" class="nav-link scroll">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="index.html#contact" class="nav-link scroll">Contact</a>
                </li>
            </ul>
            <div class="navbar-nav">
                <a href="contact.html" class="hire_button">Hire Me Now</a>
            </div>
        </div>
    </div>
</nav>