<section class="section testimonial">
    <div class="testimonial__background_shape">
        <svg viewBox="0 0 1920 79">
            <path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
        </svg>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 offset-lg-3">
                <div class="testimonial__header">
                    <span>Testimonial</span>
                    <h1>What People are Say About Me?</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial__slider">
                    <div class="testimonial__slider_item">
                        <ul class="testimonial__slider_item-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p class="testimonial__slider_item-content">Takimata sanctus est lorem ipsum dolor sit amet lorem ipsum dolor sit amet consetur sad
                            ipscing elitr sed diam nonumy eirmod tempor invidunt labore dolore magna.
                        </p>
                        <p class="testimonial__slider_item-author"><span>Ryan Cook</span> | Jan 20, 2020</p>
                    </div>
                    <div class="testimonial__slider_item">
                        <ul class="testimonial__slider_item-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p class="testimonial__slider_item-content">Takimata sanctus est lorem ipsum dolor sit amet lorem ipsum dolor sit amet consetur sad
                            ipscing elitr sed diam nonumy eirmod tempor invidunt labore dolore magna.
                        </p>
                        <p class="testimonial__slider_item-author"><span>Ryan Cook</span> | Jan 20, 2020</p>
                    </div>
                    <div class="testimonial__slider_item">
                        <ul class="testimonial__slider_item-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p class="testimonial__slider_item-content">Takimata sanctus est lorem ipsum dolor sit amet lorem ipsum dolor sit amet consetur sad
                            ipscing elitr sed diam nonumy eirmod tempor invidunt labore dolore magna.
                        </p>
                        <p class="testimonial__slider_item-author"><span>Ryan Cook</span> | Jan 20, 2020</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>