<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9rV6yesIygoVKTD6QLf_iCa9eiIIHqZ0&libraries=geometry"></script>
<script src="plugins/jQuery/jquery.min.js"></script>
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/slick/slick.min.js"></script>
<script src="plugins/slick/slick.min.js"></script>
<script src="plugins/waypoint/jquery.waypoints.min.js"></script>
<script src="plugins/magnafic-popup/jquery.magnific-popup.min.js"></script>
<script src="plugins/tweenmax/TweenMax.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>